@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

h2 {
    font-family: 'Dancing Script', cursive;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 3.3rem;
}

.heading_container.heading_center {
    align-items: center;
    text-align: center;
}


.food_section .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
}

.food_section .filters_menu li.active {
    background-color: #222831;
    color: #ffffff;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 3.3rem;
}


.heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 75px;
    font-size: 3.3rem;
}



.food_section .box {
    position: relative;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);


}

.food_section .box .img-box {
    background: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
 
}

.food_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
    transition: all .2s;
    
 
}

.food_section .box .detail-box {
    padding: 25px;
}

.food_section .box .detail-box h5 {
    font-weight: 600;
}

.food_section .filters_menu {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 44px 0 21px 0;
}


.food_section .box .detail-box p {
    font-size: 15px;
}

.food_section .box .detail-box h6 {
    margin-top: 10px;
}

.food_section .box .options {
    display: flex;
    justify-content: space-between;
}



.food_section .box .options a svg {
    width: 18px;
    height: auto;
    fill: #ffffff;
}


.heading_container.heading_center {
    align-items: center;
    text-align: center;
}


.food_section .btn-box {

    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.food_section .btn-box a {
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    transition: all 0.3s;
    border: none;
}

.food_section .box:hover .img-box img {
    transform: scale(1.1);
}

.food_section .box .options a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ffbe33;
    display: flex;
    justify-content: center;
    align-items: center;
}






