<header class="sticky-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets\cafeIcon.jfif" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
              </a>
            <a class="navbar-brand" routerLink="/">Cafe</a>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/">Home</a>
                    <a class="nav-link" routerLink="menu">Menu</a>
                    <a class="nav-link" routerLink="contact">Contact</a>
                    <a class="nav-link" routerLink="payment">Payment</a>
                </div>
            </div>
        </div>
    </nav>
  </header>


   