<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offest-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm" >

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')" class="text-danger">Name is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Uername">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')" class="text-danger">Username is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['mobile'].dirty && signUpForm.hasError('required','mobile')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="mobile" type="text" placeholder="Mobile">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['mobile'].dirty && signUpForm.hasError('required','mobile')" class="text-danger">Mobile No. is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">Email is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="address" type="text" placeholder="Address">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')" class="text-danger">Address is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['postcode'].dirty && signUpForm.hasError('required','postcode')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="postcode" type="text" placeholder="Postal Code">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['postcode'].dirty && signUpForm.hasError('required','postcode')" class="text-danger">Postal Code is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password"  [type]="type" placeholder="Password">
                                    <span (click) = "hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">Password is required</small>

                            <!-- <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password</a>
                            </div> -->

                            <!-- image upload -->
                            <!-- <div class="form-group pt-3">
                                <label for="imageUrl">Image URL</label>
                                <input id="imageUrl" formControlName="imageUrl" type="text" class="form-control"/>
                              </div> -->


                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
